<tr>
  <% columns.each do |column_name| %>
    <th id='<%= column_name %>'
        data-column-name=<%= column_name %>
    >
      <%= column_name.to_s.humanize %>
    </th>
  <% end %>
</tr>
<tr>
  <% columns.each do |column_name| %>
    <td data-column-name=<%= column_name %>
    >
      <table-tool>
        <%= link_to '', send("#{controller}_path", sort: { column_name => :asc, ids: instances.map(&:id) }), class: 'fas fa-arrow-down' %>
        <%= link_to '', send("#{controller}_path", sort: { column_name => :desc, ids: instances.map(&:id) }), class: 'fas fa-arrow-up' %>
        <%= form_with url: "/#{controller}", method: :get, scope: :filter, data: { controller: 'form-filter' } do |form| %>
          <%= form.select(column_name, instances.pluck(column_name).uniq,
              {include_blank: 'filtrer', selected: 'filtrer'},
              { data: {  form_filter_target: 'dropdown', action: 'change->form-filter#submit' }
            })
          %>
          <%= link_to '', send("#{controller}_path", ), data: { form_filter_target: 'link' }, hidden: true %>
        <% end %>
        <%= link_to '', send("#{controller}_path", ), class: 'fas fa-solid fa-retweet' %>
      </table-tool>
    </td>
  <% end %>
</tr>
