
  <td><%= link_to parcelle.reference_cadastrale, parcelle_path(parcelle) %></td>
  <td><%= parcelle.lieu_dit %></td>
  <td><%= parcelle.code_officiel_geographique %></td>
  <td><%= parcelle.surface %></td>
  <td><%= parcelle.annee_plantation %></td>
  <td><%= parcelle.distance_rang %></td>
  <td><%= parcelle.distance_pieds %></td>
  <td><%= link_to '', edit_parcelle_path(parcelle), class: 'fas fa-pen' %></td>
  <td><%= link_to '', parcelle_path(parcelle),
                              data: { turbo_method: :delete, turbo_confirm: 'Etes-vous sûr ?'},
                              class: "fas fa-trash"
      %>
  </td>
