<container-navbar data-controller='navbar' data-controller='window'>
  <navbar-logo>
    <%= image_tag 'Gestion Parcelles Logo 1.png', width: '40px', height: '40px' %>
  </navbar-logo>
  <navbar-icon data-action='click->navbar#displayMenu'>
    <%= image_tag 'Gestion Parcelles Logo 1.png', width: '40px', height: '40px' %>
  </navbar-icon>
  <navbar-menu data-navbar-target='menu' data-window-target='menu'>
    <ul>
      <li>
        <%= link_to :home, root_path, data: { navbar_target: 'link'} %>
      </li>
      <% if user_signed_in? %>
        <li-dropdown>cartes
          <ul>
            <%= link_to :parcelles, carte_path(user: current_user.id), data: { navbar_target: 'link'} %>
            <% current_user.owners.each do |owner| %>
              <%= link_to owner.email, carte_path(user: owner.id), data: { navbar_target: 'link' } %>
            <% end %>
          </ul>
        </li-dropdown>

        <li-dropdown>tableaux
          <ul>
            <%= link_to :parcelles, parcelles_path(user: current_user), data: { navbar_target: 'link' } %>
            <%= link_to :fournisseurs, suppliers_path, data: { navbar_target: 'link' } %>
            <%= link_to :prestations, offers_path, data: { navbar_target: 'link' } %>
            <%= link_to :contrats, contracts_path, data: { navbar_target: 'link' } %>
            <% current_user.owners.each do |owner| %>
              <%= link_to owner.email, parcelles_path(user: owner), data: { navbar_target: 'link' } %>
            <% end %>
          </ul>
        </li-dropdown>

        <% if allowed_to?(:index?, GrapePrice) %>
          <li-dropdown>administration
            <ul>
              <%= link_to 'prix des raisins', admin_grape_prices_path,  data: { navbar_target: 'link' } %>
            </ul>
          </li-dropdown>
        <% end %>

        <li-dropdown>finances
            <ul>
              <%= link_to 'factures', finances_invoices_path,  data: { navbar_target: 'link' } %>
              <%= link_to 'paiements', finances_payments_path,  data: { navbar_target: 'link' } %>
              <%= link_to 'rapports disponibles', finances_reports_path,  data: { navbar_target: 'link' } %>
            </ul>
          </li-dropdown>
      <% end %>
      
    </ul>
  </navbar-menu>

  <navbar-account data-navbar-target='menu'>
    <p><%= current_user.email if user_signed_in? %></p>
    <%= render 'shared/account' %>
  </navbar-account>
</container-navbar>
