<% if instances.present? %>
  <table>
    <%= render partial: 'shared/table/1_header', locals: { instances: instances,
                                                           controller: controller,
                                                           columns: options[:columns],
                                                           tag_show: options[:tag_show]
                                                         }


    %>
      <tbody>
        <% instances.each do |instance| %>
          <tr id="<%= instance.model_name.singular %>_<%= instance.id %>"
              data-controller="row"
              href="<%= send("#{instance.model_name.singular}_path", instance) %>"
          >
            <%= render partial: 'shared/table/2_row', locals: { instance: instance,
                                                                controller: controller,
                                                                columns: options[:columns],
                                                                link_show: options[:link_show],
                                                                tag_show: options[:tag_show]
                                                              }
            %>
          </tr>
        <% end %>
      <tbody>
    <%= render partial: 'shared/table/3_footer', locals: { instances: instances,
                                                           columns: options[:columns],
                                                           formulas: options[:formulas]
                                                         }
    %>
  </table>
<% else %>
  <table>
    <tr>
      <td>
        <%= 'Aucun élément à afficher' %>
      <td>
    <tr>
  <table>
<% end %>
