<% if instances.present? %>
  <table>
    <%= render partial: 'shared/table/header', locals: { instances: instances,
                                                         controller: controller,
                                                         columns: options[:columns]
                                                        }


    %>
      <tbody>
        <% instances.each do |instance| %>
          <tr id="<%= instance.model_name.singular %>_<%= instance.id %>"
              data-controller='table'
              href="<%= send("#{instance.model_name.singular}_path", instance) %>"
          >
            <%= render partial: 'shared/table/row', locals: { instance: instance,
                                                              controller: controller,
                                                              columns: options[:columns]
                                                            }
            %>
          </tr>
        <% end %>
      <tbody>
    <%= render partial: 'shared/table/footer', locals: { instances: instances,
                                                          columns: options[:columns],
                                                          formulas: options[:formulas]
                                                        }
    %>
  </table>
<% else %>
  <table>
    <tr>
      <td>
        <%= 'Aucun élément à afficher' %>
      <td>
    <tr>
  <table>
<% end %>
