<container-tableau>
  <h3>Parcelles</h3>
  <%= render partial: 'table', locals: { columns: Parcelle::INSTANCE_VARIABLES - [:polygon] } %>

  <link-group>
    <%= link_to 'nouvelle parcelle', new_parcelle_path, data: { navbar_target: 'link' } %>
    <%= link_to 'marqueurs', tags_path, data: { navbar_target: 'link' } %>
    <%= link_to 'exporter le tableau vers excel', parcelles_path(format: :xlsx), data: { navbar_target: 'link' } %>
  </link-group>

  <% if @parcelles.present? %>
    <column-options data-controller='preferences'>
      <% (Parcelle::INSTANCE_VARIABLES - [:polygon]).each do |column_name| %>
        <%= form_for @user, html: { data: { preferences_target: 'form' } } do |form| %>
          <checkbox-group>
            <% checked = current_user.send([controller_name, column_name].join('_').to_sym) %>
            <% checked = checked.nil? ? true : checked %>
            <%= form.check_box [controller_name, column_name].join('_').to_sym,
              { data: {
                  datatable_target: 'checkbox',
                  preferences_target: 'checkbox',
                  action: 'change->preferences#display change->preferences#submit',
                  column_name: "#{column_name}"
                },
                checked: checked
              },
              'true', 'false'
            %>
            <%= form.label column_name, name: column_name,
              data: { datatable_target: 'column' } %>
          </checkbox-group>
        <% end %>
      <% end %>
    </column-options>
  <% end %>
</container-tableau>
