<container-tableau>
  <description-group>
    <h4>Parcelle : </h4>
    <p><%= @parcelle.reference_cadastrale %></p>
  </description-group>
  <description-group>
    <h4>Commune : </h4> 
    <p><%= @parcelle.town %></p>
  </description-group>
  <description-group>
    <h4>Code postal : </h4> 
    <p><%= @parcelle.code_officiel_geographique %></p>
  </description-group>
  <description-group>
    <h4>Surface : </h4> 
    <p><%= @parcelle.surface %> hectares</p>
  </description-group>
  <description-group>
    <h4>Contrat : </h4> 
    <p><%= display_contract(@parcelle) %></p>
  </description-group>
  <link-group>
    <%= link_to "modifier", edit_parcelle_path(@parcelle) %>
  </link-group>

  <div data-controller='mapbox'>
    <% if @centroid.present? %>
      <%= render partial: 'map',
        locals: {
          geometry_type: @geometry_type,
          parcelles: @parcelle_mapbox_info,
          centroid: @centroid
        }
      %>
    <% else %>
      <%= link_to t(:back), :back %>
    <% end %>
  </div>

  <%= render partial: 'shared/comment', locals: { option: :new, comment: @comment } %>

  <%= turbo_frame_tag 'comments' do %>
    <% @parcelle.comments.each do |comment| %>
      <%= render partial: 'shared/comment', locals: { option: :show, comment: comment } %>
    <% end %>
  <% end %>
</container-tableau>