<h2>Connexion</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "shared/error_messages", resource: resource %>

  <input-group data-controller='input-group'>
    <%= f.label :email, data: { input_group_target: 'label' } %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
      data: { input_group_target: 'input',
              action: 'focus->input-group#focusLabel
                       focusout->input-group#focusoutLabel
                       change->input-group#focusLabel'
            } %>
  </input-group>

  <input-group data-controller='input-group'>
    <%= f.label :password, data: { input_group_target: 'label' } %>
    <%= f.password_field :password, autocomplete: "current-password",
      data: { input_group_target: 'input',
              action: 'focus->input-group#focusLabel
                       focusout->input-group#focusoutLabel
                       change->input-group#focusLabel'
            } %>
  </input-group>

  <checkbox-group>
    <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me %>
      <%= f.label t(:remember_me, scope: [:devise, :sessions]) %>
    <% end %>
  </checkbox-group>

  <submit-group>
    <%= f.submit "Valider", class: 'button' %>
    <%= link_to 'annuler', :back %>
  </submit-group>
<% end %>

<link-group>
  <%= render "devise/shared/links" %>
</link-group>
