<!DOCTYPE html>
<html>
  <head>
    <title>Gestion Parcelles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" %>
    <%= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.3/mapbox-gl-geocoder.css" %>
    <%= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.5.0/mapbox-gl-draw.css" %>
    <%= javascript_include_tag "https://kit.fontawesome.com/4c22da3313.js", crossorigin: :anonymous %>
    <%= javascript_importmap_tags %>
  </head>
  <body data-controller='window' data-window-target='width'>
    <%= render 'shared/navbar' %>
    <container-flex>
      <container-c1>
        <%= render 'shared/messages' %>
        <%= yield %>
      <container-c1>
    </container-flex>
    <%= render 'shared/footer' %>
  </body>

</html>
